export TAKSA_DOMAIN=${TAKSA_DOMAIN:-"localcontroller.taksa-os.manufacturing"}

export CONTROLLER_NAME_PREFIX=${CONTROLLER_NAME_PREFIX:-${USER}}
export TAKSA_DATADIR=${TAKSA_DATADIR:-"/datadrive"}

export POSTGRES_USER=${POSTGRES_USER:-"taksa"}
export POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-"taksa_123"}
export POSTGRES_DB=${POSTGRES_DB:-"taksa"}
export POSTGRES_PORT=${POSTGRES_PORT:-5432}

export TAKSA_PG_USER=${TAKSA_PG_USER:-$POSTGRES_USER}
export TAKSA_PG_PASSWORD=${TAKSA_PG_PASSWORD:-$POSTGRES_PASSWORD}
export TAKSA_PG_DB=${TAKSA_PG_DB:-$POSTGRES_DB}
export TAKSA_PG_PORT=${TAKSA_PG_PORT:-$POSTGRES_PORT}
export KRATOS_DSN="postgres://${TAKSA_PG_USER}:${TAKSA_PG_PASSWORD}@taksa-pg-db:${TAKSA_PG_PORT}/${TAKSA_PG_DB}?sslmode=disable&max_conns=20&max_idle_conns=4"

export TSDB_PG_USER=${TSDB_PG_USER:-$POSTGRES_USER}
export TSDB_PG_PASSWORD=${TSDB_PG_PASSWORD:-$POSTGRES_PASSWORD}
export TSDB_PG_DB=${TSDB_PG_DB:-$POSTGRES_DB}
POSTGRES_PORT=5433
export TSDB_PG_PORT=${TSDB_PG_PORT:-$POSTGRES_PORT}
export TSDB_DSN="postgres://${TSDB_PG_USER}:${TSDB_PG_PASSWORD}@taksa-tsdb:${TSDB_PG_PORT}/${TSDB_PG_DB}?sslmode=disable&max_conns=20&max_idle_conns=4"


export TAKSA_NATS_SERVER_PORT=${TAKSA_NATS_SERVER_PORT:-4222}
export TAKSA_NATS_MONITOR_PORT=${TAKSA_NATS_MONITOR_PORT:-8222}
export TAKSA_NATS_SYS_USER=${TAKSA_NATS_SYS_USER:-"taksa_admin"}
export TAKSA_NATS_SYS_PASSWORD=${TAKSA_NATS_SYS_PASSWORD:-"taksa_admin123"}
export TAKSA_NATS_APP_USER=${TAKSA_NATS_APP_USER:-"taksa_app"}
export TAKSA_NATS_APP_PASSWORD=${TAKSA_NATS_APP_PASSWORD:-"taksa_app123"}


export KRATOS_PUBLIC_PORT=${KRATOS_PUBLIC_PORT:-4433}
export KRATOS_ADMIN_PORT=${KRATOS_ADMIN_PORT:-4434}
export OATHKEEPER_PROXY_PORT=${OATHKEEPER_PROXY_PORT:-4457}
export OATHKEEPER_API_PORT=${OATHKEEPER_API_PORT:-4456}

export TAKSA_UI_PORT=${TAKSA_UI_PORT:-3000}
export GRAFANA_ADMIN_USER=${GRAFANA_ADMIN_USER:-"admin"}
export GRAFANA_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD:-"admin"}
export GRAFANA_PORT=${GRAFANA_PORT:-3300}
